<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>About - Brickshop</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/about.css" />
    <script type="module" src="/js/navbar.js"></script>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <ul class="navbar-list">
            <li class="navbar-item"><a href="/" class="navbar-link">Home</a></li>
            <li class="navbar-item"><a href="/about" class="navbar-link">About</a></li>
            <li class="navbar-item"><a href="/upload" class="navbar-link">Pixel Art</a></li>
            <li class="navbar-item dropdown">
                <a href="#" class="navbar-link">Other</a>
                <ul class="dropdown-menu">
                    <li><a href="/tools/upload-tools" class="dropdown-link">Tools</a></li>
                    <li><a href="/tools/palette-picker" class="dropdown-link">Palette picker</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <script>import('/js/navbar.js').then(m => m.Navbar.init());</script>
    <!-- Navbar End -->
    <div class="container about-container">
        <h1 class="about-title">About Pixelmate</h1>
        <section class="about-section">
            <h2>Hello</h2>
            <p>Welcome to Pixelmate, a web application designed to create pixel art from full sized images with dynamic parameter selection.
                It has been created as a personal project to experiment with image processing, web development and cloud deployment.
                Feel free to create your own pixel art style images.
                The app will remain free and open source. And probably with more features in the future.
            </p>
        </section>
        <section class="about-section">
            <h2>Github Project Page</h2>
            <p><a href="https://github.com/tomcvt/pixelmate" target="_blank" rel="noopener noreferrer">https://github.com/tomcvt/pixelmate</a></p>
        </section>
        <section class="about-section">
            <h2>About the Developer</h2>
            <p>I am self taught developer focused on java backend but able to create frontend with the help of necessary tools.
                I am interested in web development, cloud computing and software architecture, mainly on optimization, 
                production readiness and security. I have multiple personal projects, mostly open source, that you can find on my github.
                Here is my <a href="https://github.com/tomcvt" target="_blank" rel="noopener noreferrer">GitHub profile</a>.
            </p>
        </section>
    </div>
</body>
</html>