<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Please sign in</title>
    <link href="/css/main.css" rel="stylesheet" />
</head>

<body>
    <div class="content">
        <form class="login-form" method="post" action="/login">
            <h2>Please sign in</h2>
            <div id="login-alert" class="alert alert-danger" role="alert" style="display: none;">Invalid credentials
            </div>
            <div id="logout-alert" class="alert alert-success" role="alert" style="display: none;">Successfully logged
                out</div>
            <p>
                <label for="username" class="screenreader">Username</label>
                <input type="text" id="username" name="username" placeholder="Username" required autofocus>
            </p>
            <p>
                <label for="password" class="screenreader">Password</label>
                <input type="password" id="password" name="password" placeholder="Password" required>
            </p>
            <div style="text-align: right; width: 100%; margin-bottom: 10px;">
                <a href="/public/recover-password"
                    style="font-size: 0.95rem; color: var(--color-primary); text-decoration: underline;">Forgot
                    password?</a>
            </div>
            <button type="submit" class="btn btn-primary wide">Sign in</button>
            <button type="button" class="btn btn-secondary wide"
                onclick="window.location.href='/registration'">Registration</button>
        </form>
    </div>
    <script>
        const urlParams = new URLSearchParams(window.location.search);

        if (urlParams.has('error')) {
            document.getElementById('login-alert').style.display = 'block';
        }
        if (urlParams.has('logout')) {
            document.getElementById('logout-alert').style.display = 'block';
        }
    </script>
</body>

</html>